<% include ../partials/header %>


<div class="container">
	<div class="row">
		<div class="col-md-3">
		<%// Here is where the left side items will go%>
			<p class="lead"> YelpCamp</p>
			<div class="list-group">
			  <li class="list-group-item active">First item</li>
			  <li class="list-group-item">Second item</li>
			  <li class="list-group-item">Third item</li>
			</div>
		</div>
		<div class="col-md-9">
		<%//This is where the right/center items will go (the main content)%>
			<div class="thumbnail">
				<img class="img-responsive" src="<%= theCampground.image %>">
				<div class="caption-full">
					<h4 class="pull-right">$<%=theCampground.price%>/night </h4>
					<h4> <a><%= theCampground.name %></a> </h4>
					<p> <%= theCampground.description %> </p>
					<p> <em>Submitted by <%=theCampground.author.username%></em> </p>
					
				<%/* Below code will check to see if we have a user logged in, and if the logged in user id matches the author id for the campground
					if both id's match, then we will display the buttons to edit and delete the particular campground */%>
					<% if(currentUser && theCampground.author.  id.equals(currentUser._id)){ %>

						<a class="btn btn-xs btn-warning" href="/campgrounds/<%=theCampground._id%>/edit"> Update </a>
						<form id="form-delete-button" action="/campgrounds/<%=theCampground._id%>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>

					<% } %>
					
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a href="/campgrounds/<%=theCampground._id%>/comments/new" class="btn btn-lg btn-success">Leave Review </a>
				</div>
				<hr>
				<% theCampground.comments.forEach(function(comment){  %>
					<div class="row">
						<div class="col-md-12">
							<strong><%=comment.author.username%></strong>
							<span class="pull-right"> 10 days ago </span>
							<p><%=comment.text%></p>
							
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<a class="btn btn-xs btn-warning" href="/campgrounds/<%=theCampground._id%>/comments/<%=comment._id%>/edit"> Edit </a>
								<form class="form-delete-button" action="/campgrounds/<%=theCampground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="Delete">
								</form>
							<% } %>
 
						</div>
					</div>
	
				<%  });   %>

			</div>
		</div>
	</div>

</div>


<% include ../partials/footer %>
